
.titleTable {
    margin-top: 30px;
    margin-bottom: 10px;
    color:  rgb(58, 95, 86);
    font-size: 40px;
    font-weight: 400; 
    text-align: center;
}

.titleInputTablet {
    max-width: 200px;
      background: transparent;
      border-color: transparent;
      border-width: 0;
      margin-top: 30px;
      margin-bottom: 10px;
      color:  rgb(58, 95, 86);
      font-size: 40px;
      font-weight: 400; 
      text-align: center;
  }
table {
    @media screen and (max-width: 767px) {
    display: block;
   }

}

//add

table.iksweb{
    font-size: 10px;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    color: rgb(58, 95, 86);
    background: rgb(255, 255, 255, 0.8);
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
    @media screen and (min-width: 768px) {
        width: 100%;
        font-size: 12px;
    } 
}


table.iksweb,table.iksweb td, table.iksweb th {
    font-size: 8px;
    position: relative;
	border: 1px solid rgb(58, 95, 86);
    @media screen and (min-width: 768px) {
        font-size: 12px;
    } 
}
table.iksweb td,table.iksweb th {
	padding: 8px;
	height: 35px;
}
table.iksweb th {
	// background: #347c99; 
	// color: #fff; 
	font-weight: normal;
}



.titleOne {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 40px; 
    } 
}
.titleTwo {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}
.estimatesTitle {
    font-weight: 600;
    font-size: 20px;
    text-align: center; 
}

.titleRow {
    font-size: 14px;
    font-weight: 800;
    @media screen and (min-width: 768px) {
        font-size: 20px;; 
    } 
}
.dataRow {
    font-size: 12px;
    font-weight: 400;
    color: black;
}
.oneRow {
    position: relative;
    text-align: center;
    @media screen and (min-width: 768px) {
        min-width: 40px; 
    } 
    @media screen and (min-width: 1200px) {
        min-width: 80px; 
    }

    }
    .buttonUpdate {
        opacity: 0;
        transition: opacity 0.3s ease-in-out; 
        @media screen and (min-width: 1200px) {
            opacity: 1;
        }
      }

      .oneRow:hover .buttonUpdate {
        opacity: 1;
      }

      .oneRow:focus .buttonUpdate {
        opacity: 1;
      }

      .buttonDeletePosition {
        opacity: 0;
        transition: opacity 0.3s ease-in-out; 
        @media screen and (min-width: 1200px) {
            opacity: 1;
        }
      }

      .threeSix:hover .buttonDeletePosition {
        opacity: 1;
      }

      .threeSix:focus .buttonDeletePosition {
        opacity: 1;
      }

.twoRow {
    @media screen and (min-width: 768px) {
        min-width: 150px; 
    } 
    @media screen and (min-width: 1200px) {
        min-width: 250px; 
    }
}
.threeRow {
    text-align: center;
    @media screen and (min-width: 768px) {
        min-width: 85px; 
    } 
    @media screen and (min-width: 1200px) {
        min-width: 120px; 
    }
}

.fiveRow {
    // max-width: 16px;
    min-width: 25px;
    padding: 0;
    text-align: center;
    @media screen and (min-width: 768px) {
        min-width: 85px; 
    } 
    @media screen and (min-width: 1200px) {
        min-width: 120px; 
    }
}
.threeRowTitleText {
    
    @media screen and (max-width: 767px) {
    display: block;
    writing-mode: vertical-rl;
}
}

.threeSix {
    position: relative;
    text-align: center;
    @media screen and (min-width: 768px) {
        min-width: 90px; 
    }
    @media screen and (min-width: 1200px) {
        min-width: 120px; 
    } 
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 320px;
    margin-top: 20px;
    color:  rgb(58, 95, 86);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400; 
    @media screen and (min-width: 768px) {
        max-width: 768px;
        margin-right: 0px;
        margin-left: 0px;
        gap: 0px;
        font-size: 28px;  
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        justify-content: space-between;
    } 
}

.totalGeneral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 320px;
    margin-top: 50px;
    color:  rgb(58, 95, 86);
    font-family: Inter;
    font-size: 19px;
    font-weight: 700; 
    @media screen and (min-width: 768px) {
        max-width: 768px;
        margin-right: 0px;
        margin-left: 0px;
        gap: 0px;
        font-size: 35px;  
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        justify-content: space-between;
    } 
}

.buttonAddContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
    gap: 5px;
}

.buttonAdd {
    width: 25px;
    height: 25px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border-width: 0;
    margin-left: 50px;
    padding: 0;
    border-color: transparent;
    background: transparent;
    color: rgb(58, 95, 86);
    border-radius: 50%;
    cursor: pointer;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1); 
     &:hover, &:focus {
      background: rgb(58, 95, 86);
      color: white;    
      } 
    
    @media screen and (min-width: 768px) {
        margin-left: 80px;
    } 
}
.buttonAdd svg {
    fill: currentColor;
  
}

.buttonAddTitle {
    border-color: transparent;
    background: transparent;
    color: black;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1); 
     &:hover, &:focus {
      color: #334E68;    
      } 
}
.buttonAddTitle svg { 
    fill: currentColor;
 }

.buttonDeletePosition {
    position: absolute;
    top: 0px;
    right: -13px;
    margin-right: 10px;
    padding: 0;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        top: 0px;
        right: -15px; 
      
    }
    @media screen and (min-width: 1200px) {
        top: 2px;
        right: 2px; 
    }

}

.buttonDeletePosition svg { 
    fill: #486581;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover, &:focus {
    fill: #0b131a;
    }
}



.createPdfFileButton {
padding-top: 4px;
padding-bottom: 4px;
padding-left: 7px;
padding-right: 7px;
border-radius: 5px;
border: solid rgb(58, 95, 86) 1px;
background: rgb(58, 95, 86); 
color: wheat;
cursor: pointer;
transition: background 250ms  cubic-bezier(0.4, 0, 0.2, 1); 
@media screen and (min-width: 768px) {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  
}
&:hover, &:focus {
    color: rgb(58, 95, 86);
    background: transparent;
}
}

.buttonsContainer {
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.buttonDelete {
    padding: 0;
    background: transparent;
    border-color: transparent;
    margin-right: 5px;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        margin-right: 20px;  
    } 
}



.input {
    max-width: 20px;
    border-width: 0;
    text-align: center;
    background: transparent;
    @media screen and (min-width: 768px) {
        max-width: 40px; 
    }
    
}
.inputTitle {
    width: auto;
    max-width: 90px;  
    padding: 0;
    border-width: 0;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        max-width: 760px; 
    }
    
    }


  

.buttonUpdate {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 2px;
    background: transparent;
    border-color: transparent;
    border-radius: 50%;
    color: rgb(58, 95, 86);
    cursor: pointer;
    transition: color 250ms background 250ms  cubic-bezier(0.4, 0, 0.2, 1); 

    &:hover, &:focus {
    color: #fff;
    background:  rgb(58, 95, 86);   
    }
}

.buttonUpdate svg{
    fill: currentColor;

} 

.buttonUpdateEstimate {
    background: transparent;
    border-color: transparent;
    color:#0b131a;
    cursor: pointer;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover, &:focus {
    color:#347c99;
         
    }
}

.buttonUpdateEstimate svg{
    fill: currentColor;

}
