.container {
    max-width: 300px;
    padding: 10px;
    border:  1px solid rgb(58, 95, 86);
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        min-width: 520px;
     }
}
.inputContainer {
    margin-left: auto;
    margin-right: auto;
 }
 .inputContainer label {
     display: block;
     width: 280px;
     color: rgb(58, 95, 86);
     font-size: 18px;
     font-weight: 900;
     line-height: 1.8;
     text-align: left;
     @media screen and (min-width: 1200px) {
         width: 480px;
      }
     }
 
     .inputContainer input {
        width: 280px;
        height: 72px;
        padding: 20px;
        margin: 15px auto;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(151, 151, 151);
        border-radius: 12px;
        border: solid rgb(255, 255, 255) 1px;
        background: rgb(255, 255, 255);
        
        color: rgb(151, 151, 151);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        text-align: left;
        
        
        &:hover, &:focus {
        border: solid rgb(151, 151, 151) 1px;
        outline: none;
        }
        @media screen and (min-width: 768px) {
            width: 490px;
            height: 72px;
         }
        
        }