.container {
    width: 320px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 34px 135px rgba(0, 0, 0, 0.1), 0px 13.0963px 43px rgba(0, 0, 0, 0.0242963), 0px 2.77037px 11px rgba(0, 0, 0, 0.0157037);
    @media screen and (min-width: 768px) {
       width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
     }
}

.titleMine {
    font-size: 18px;
    font-weight: 700;
    color:  rgb(58, 95, 86);
    margin-bottom: 20px;
}

.contactTitle {
    font-size: 17px;
    font-weight: 700; 
    margin-bottom: 10px;
}
.contact {
    font-size: 14px;
    font-weight: 700;
    color:  rgb(58, 95, 86);
}

.contact a {
    margin-left: 5px;
    color:  #083E9E;
    &:hover, &:focus {
        color:  rgb(58, 95, 86);
        text-decoration: underline;
    }
}

.socialContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.socialContainer a {
    opacity: 1;
    &:hover, &:focus {
        opacity: 0.8;
    }
}