body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Josefin Sans'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), url('./img/fon.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {text-decoration: none;}
ul, ol {
list-style: none;
padding: 0px;
margin: 0px;
}
h1, h2, h3, p {
margin: 0px;}
p {
padding: 0px;
margin: 0px;}
img {
display: block;
margin: 0px;
padding: 0px;
}

button {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  padding: 0;
}

button:hover, button:focus {
  outline: none;
}

.link{
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  color: #083E9E;
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1); 
}
.linkTest {
  color:  #083E9E;
  font-size: 20px;
  font-weight: 300;
  line-height: 260%;
  margin-left: 100px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
         
  }

.link:hover, 
.link:focus {
  color:  rgb(58, 95, 86);
  text-decoration: underline;
}

.button {
  width: 180px;
  height: 53px;
  box-sizing: border-box;
  border: 1px solid rgb(58, 95, 86);
  border-radius: 4px;
  background: transparent;
  color: rgb(8, 62, 158);
  font-size: 20px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  transition: color 250ms background 250ms  cubic-bezier(0.4, 0, 0.2, 1); 
    
  }

  .button:hover, .button:focus {
    color: wheat;
     background: rgb(58, 95, 86); 
  }


.button-disabled {
  width: 180px;
  height: 53px;
  color: #829AB1;
  font-size: 20px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 4px;
  border: 4px solid #334E68;
  background: #334E68;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px 0px rgba(16, 24, 40, 0.05);
 
}

.unit-Button {
  width: 200px;
  height: 35px;
  margin-top: 20px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2%;
  color: rgb(58, 95, 86);
  border-color: rgb(58, 95, 86);
  background: transparent;
  cursor: pointer;
  transition: border-color 250ms background 250ms  cubic-bezier(0.4, 0, 0.2, 1); 

}

.unit-Button:hover, .unit-Button:focus {
  background: rgb(58, 95, 86);
  color: rgb(255, 255, 255);
}

.button-disabled-unit {
  width: 200px;
  height: 35px;
  margin-top: 20px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2%;
  color: #829AB1;
  border: 4px solid #334E68;
  background: #334E68;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px 0px rgba(16, 24, 40, 0.05);
 
}



